.intro-section:before{
	background:#FFFFFF !important
}

header{
	background:#007bff !important
}

.for-inner{
	border:1px solid #ffffff!important;
	color:#FFFFFF !important;
}

.film-padding{
	padding: 0 50px 0 50px;
}

.search-film-container{
	margin:130px 0 25px 0;
}

.films-container p{
	color: rgb(85, 89, 92) !important;
}

.page-container{
	padding: 115px 70px 0 70px !important;
}

.page-title{
	margin:0 0 25px 0;
	
}

.honour img{
	width: 125px;
}

.honour-row{
	padding: 20px 0 20px 0;
}

.border-bottom {
	border-bottom: 1px solid #ccc;
}

.border-right {
	border-right: 1px solid #ccc;
}



@media only screen and (max-width: 767px) {
    
	.no-border-mobile{
		border-right: none !important;
	}

	.margin-top-mobile{
		margin-top:15px;
	}

	.honour img{
		width: 200px !important;
	}

}



@media only screen and (min-width: 768px) {
    /* tablets and desktop */
}
